.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column-full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  margin: 50px 0;
}

.column-one-third {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.bg-blue {
  background-color: #1996da;
}

.header-font {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: white;
}

.heading-font {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
}

.paragraph-font {
  font-family: Lato, sans-serif;
  font-style: thin;
  font-weight: 100;
  color: white;
}

.circle {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
}

.circle-border {
  background: #ebf6fb;
  border-radius: 50%;
}

.image-resize {
  object-fit: contain;
  width: 100%;
  padding: 30px;
  height: 100%;
}

.text-center {
  text-align: center;
}
