button {
  height: 50px;
  width: 150px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

table,
th,
td {
  border: 1px white solid;
}

th {
  background-color: black;
  color: white;
  font-family: Roboto, sans-serif;
}

tr:nth-child(odd) {
  background-color: #d2d2d2;
  font-family: Roboto, sans-serif;
}

tr:nth-child(even) {
  background-color: white;
  font-family: Roboto, sans-serif;
}
