.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 100%;
}

.column-quarter {
  width: 25%;
}

.column-three-fourths {
  width: 75%;
}

.column-button {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  font-family: Karla, sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 60px 0 20px;
}

.title-paragraph {
  font-family: Karla, sans-serif;
  text-align: center;
  margin: 0 100px;
}

.subheading {
  font-family: Karla, sans-serif;
  font-weight: 400;
  text-align: left;
}

.paragraph {
  font-family: Karla, sans-serif;
  text-align: left;
}

.image-resize {
  display: flex;
  width: 50px;
  height: 50px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.button-style {
  background: #fff;
  border: 2px solid;
  border-color: #d14c45;
  padding: 10px 35px;
  font-family: Karla, sans-serif;
  color: #d14c45;
}
